body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}

p {
  font-size: 12px;
}

/*
  Section styles
 */
.card {
  display: none;
}

.player_active {
  width: 200px;
  height: 200px;
  border: 6px solid black;
  margin: 0 auto;
}

.player_ready {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 0 auto;
}

.player_attacked {
  width: 200px;
  height: 200px;
  border: 6px solid rgba(255, 0, 0, 1);
  margin: 0 auto;
}

.img {
  width: 100%;
}

#textbox {
  width: 100%;
  margin-top: 7%;
}

.progress_bar {
  margin-top: 20px;
}

.battlefield {
  margin-top: 100px;
}

.ready {
  border: 6px solid black;
}

.title {
  font-weight: 600;
  border-bottom: 3px solid black;
}

.header {
  background-color: #66CCFF;
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--red {
  border-color: #FF0000;
  color: white;
  background-color: #FF0000;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 23px 0 20px;
  border-radius: 0 5px 5px 0;

}

/*
winner screen
*/

.top_banner {
  display: block;
  width: auto; /* Width of new image */
  height: auto; /* Height of new image */
  /*padding-left: 180px;  Equal to width of new image */
  max-width: 100%;
  padding-bottom: 5px;
}


.winner_head {
  text-align: center;
}

#player_win {
  display: block;
  width: 180px; /* Width of new image */
  height: auto; /* Height of new image */
  margin: auto;
  max-width: 100%;
}

.fight_stats {
  display: block;
  width: 33%;
  height: auto;
  margin: auto;
  max-width: 100%;
}

#fight_stats {
  display: block;
  width: 180px; /* Width of new image */
  height: auto; /* Height of new image */
  margin: auto;
  max-width: 100%;
}



#monster_lose {
  display: block;
  width: 180px; /* Width of new image */
  height: auto; /* Height of new image */
  margin: auto;
  max-width: 100%;
}

/*
lose screen
*/

#player_lose {
  display: block;
  width: 180px; /* Width of new image */
  height: auto; /* Height of new image */
  margin: auto;
  max-width: 100%;
}

.fight_stats {
  display: block;
  width: 33%;
  height: auto;
  margin: auto;
  max-width: 100%;
}

#fight_stats {
  display: block;
  width: 180px; /* Width of new image */
  height: auto;  /*Height of new image */
  margin: auto;
  max-width: 100%;
}



#monster_win {
  display: block;
  width: 180px; /* Width of new image */
  height: auto; /* Height of new image */
  margin: auto;
  max-width: 100%;
}


.play_again {
  display: block;
}

