body {
  font-family: "Lato", "Helvetica", "sans-serif";
  padding: 100px;
  font-size: 3em;
  background: none;
}

html { 
  background: url(../img/ggn_background_blank_720.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#game-container {
  margin-top: 250px;
  margin-bottom: 100px;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}


p {
  font-size: 18px;
  margin-left: 10px;
}

/*
  Section styles
 */
.card {
  display: none;
}

.player_active {
  width: 200px;
  height: 200px;
  border: 6px solid black;
  margin: 0 auto;
}

.player_ready {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 0 auto;
}

.player_attacked {
  width: 200px;
  height: 200px;
  border: 6px solid rgba(255, 0, 0, 1);
  margin: 0 auto;
}

.img {
  -webkit-filter: drop-shadow(1px 1px 0 white)
                  drop-shadow(-1px -1px 0 white);
  filter: drop-shadow(1px 1px 0 white) 
          drop-shadow(-1px -1px 0 white)
          drop-shadow(-1px -1px 0 white)
          drop-shadow(-1px -1px 0 white)
          drop-shadow(-1px -1px 0 white);
}

.magic_spells {
  margin-top: 20px;
}

.logo {
  margin-top: -112px;
}

.attack_string {
  text-align: center;
  font-size: 16px;
}

#textbox {
  width: 100%;
  height: 350px;
  margin-top: 7%;
  background-color: rgba(255, 255, 255, .7);
  padding: 10px;
  border: 2px solid black;
  overflow: auto;
}

.attackOutput {
  margin-left: 10px;
  font-size: 17px
}

.progress_bar {
  margin-top: 20px;
}

.battlefield {
  margin-top: 100px;
}

.ready {
  border: 6px solid black;
}

.title {
  font-weight: 600;
  border-bottom: 3px solid black;
}

.header, .subtext {
  color: white;
}

.subtext {
  font-size: 18px;
  text-transform: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}

.page_head {
  background-color: rgba(75, 75, 75, 0.75);
  padding: 20px;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--orange .disabled {
  border-color: #FF4136;
  color: white;
  opacity: 80%;
  cursor: not-allowed;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--red {
  border-color: #FF0000;
  color: white;
  background-color: #FF0000;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 23px 0 20px;
  border-radius: 0 5px 5px 0;

}

.selected {
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  border: 3px solid black; 
  box-shadow:  0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

/*
winner screen
*/

.top_banner {
  display: block;
  width: auto; /* Width of new image */
  height: auto; /* Height of new image */
  /*padding-left: 180px;  Equal to width of new image */
  max-width: 100%;
  padding-bottom: 5px;
}


.winner_head {
  text-align: center;
}

#player_win {
  display: block;
  width: 180px; /* Width of new image */
  height: auto; /* Height of new image */
  margin: auto;
  max-width: 100%;
}

.fight_stats {
  display: block;
  width: 33%;
  height: auto;
  margin: auto;
  max-width: 100%;
}

#fight_stats {
  display: block;
  width: 180px; /* Width of new image */
  height: auto; /* Height of new image */
  margin: auto;
  max-width: 100%;
}



#monster_lose {
  display: block;
  width: 180px; /* Width of new image */
  height: auto; /* Height of new image */
  margin: auto;
  max-width: 100%;
}

/*
lose screen
*/

#player_lose {
  display: block;
  width: 180px; /* Width of new image */
  height: auto; /* Height of new image */
  margin: auto;
  max-width: 100%;
}

.fight_stats {
  display: block;
  width: 33%;
  height: auto;
  margin: auto;
  max-width: 100%;
}

#fight_stats {
  display: block;
  width: 180px; /* Width of new image */
  height: auto;  /*Height of new image */
  margin: auto;
  max-width: 100%;
}



#monster_win {
  display: block;
  width: 180px; /* Width of new image */
  height: auto; /* Height of new image */
  margin: auto;
  max-width: 100%;
}

.name {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  color: #252525;
  border-radius: 15px;
  text-align: center;
  font-weight: 800;
}



/*Magic Class Battleground Styling*/
.spell__cast {
  background: transparent;
}

.spell-icon {
  width: 100%;
  margin: 0 auto;
  background-color: #FF4136;
  border-radius: 100%
}

.spell-icon {
  border-radius: 50%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.spell-icon:hover {
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  transform:rotate(360deg);
}

